#astro {
    margin-top: 5px;
    background-size: 1280px;
    background-image:url(/Images/BackGround/cay.jpg);
    width: 1280px;
    height: 420px;
}

#header {
    margin-left: -20px;
}

#astro h1 {
    font: 700 35px Open Sans, sans-serif;
    padding-top: 120px;
}

#searchform {
    padding-left: 320px;
}

#popularsearch a {
    color: #8aa6ad;
}

body {
    max-width:100%;
    max-height:100%;
}

.index {
    margin-top: 0;
    margin-left:30px;
}

#core {
    margin-left: 20px;
}

#regist {
    background-size: 1280px;
    width: 1280px;
    height: 600px;
}

#core_regist {
    margin-top: 0px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 400px;
}

#regist_body {

    background-size: 1280px;
    width: 1280px;
    height: 600px;
    margin-left: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#core_res {
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 400px;
}

#nar2 {
    margin-top: 10px;
    margin-left: -15px;
    width: 1280px;
    margin-bottom: 5px;

}

#astroresult {
    width: 1280px;
    height: 300px;
}

#detail {
    width: 1280px;
    height: 1500px;
}

#footer {
    margin-top: 500px;
}

#p_detail {
    margin-top: -10px;
}

#headerdetail {
    margin-top: 5px;
    margin-left: 20px;
}

img {
    margin-top: 5px;
}

#head {
    border-radius: 10px;
}

main ul li {
    text-align: center;
}